<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name Letters</title>
</head>

<body>
  <% if (locals.letterNumber) { %> <%# we can use locals to check if the numberOfLetters was passed. If it was then it will trigger the if statement, showing how many letters there are in the user's name. %>
    <h1>Hey mate. There are <%= letterNumber %> letters in your name. Did you know that?</h1>
    <% } else { %>
      <h1>Enter your name below buddyyy</h1>
      <% } %>
        <form action="/submit" method="POST">
          <input type="text" name="fName" placeholder="First name">
          <input type="text" name="lName" placeholder="Last name">
          <input type="submit" value="OK">
        </form>
</body>

</html>